<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @*Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")    

</head>
<body>
        
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
